h1 {
    font-size: 22px;
    text-align: center;
    padding-top: 48px;
    color: #ef7aa1;
}// Specific CSS for your home-page


.white-header {
    color: white;
    text-align: center;
    margin-bottom: 35px;
}
