h1 {
    font-size: 22px;
    text-align: center;
    padding-top: 48px;
    color: #ef7aa1;
}// Specific CSS for your home-page

p {

  text-align: center;
  font-stretch: extra-condensed;
  color: #face54;
}
