<body class="d-flex flex-column">
  <!-- For demo purpose -->
  <div class="container-fluid flex-grow-1 flex-shrink-0">
    <div class="px-lg-5">
      <div class="row py-5">
        <div class="col-lg-12 mx-auto text-white text-center">

        </div>
      </div>
    </div>
  </div>
  <!-- End -->


  <!-- Footer -->
  <footer class="bg-dark border-top text-white">
    <div class="container py-5">
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="img/logo.png" alt="" width="180" class="mb-3">
          <p class="font-italic text-muted">The number one luxury rental shop in the UAE.</p>
          <ul class="list-inline mt-4">
            <li class="list-inline-item"><a href="https://www.facebook.com/lewagondubai" target="_blank" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/lewagondubai" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/school/le-wagon" target="_blank" title="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        </div>
       <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4 text-center text-white"><em><strong>My luxury Closet</strong></em></h6>
          <ul class="list-unstyled mb-0 text-center">
            <li class="mb-2"><%= link_to "Log in", new_user_session_path, class: "text-white" %></li>
            <li class="mb-2"><%= link_to "Sign up", new_user_registration_path, class: "text-white" %></li>
            <li class="mb-2"><%= link_to "Our items", items_path, class: "text-white" %></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">© 2021 My Luxury Closet All rights reserved.</p>
      </div>
    </div>
  </footer>
