<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card p-5">
        <h1>Editing Item</h1>

        <%= render 'form', item: @item %>

        <div class="align-items-end">
          <%= link_to 'Back to List', items_path, class: "btn btn-outline-primary mr-10 mt-5" %>
        </div>

      </div>
    </div>

  </div>
</div>
